{% extends 'artists/base.html' %}
{% block body %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-8">
        <div class="card bg-default" style="height: 100%;">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="h3 text-white mb-0 text-uppercase">
                    Create Artist
                </h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form role="form" id="artistForm">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                        </div>
                        <input class="form-control" placeholder="Name" id="artist_name" type="text" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                        </div>
                        <input id="dob-input" class="form-control" placeholder="DOB" type="text" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-badge"></i></span>
                        </div>
                        <select class="form-control" placeholder="gender" id="gender">
                            <option value="m">Male</option>
                            <option value="f">Female</option>
                            <option value="o">Others</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                        </div>
                        <input class="form-control" placeholder="Address" id="address" type="text" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-notification-70"></i></span>
                        </div>
                        <input class="form-control" placeholder="FirstYearRelease" id="first_year_release" type="text"
                            required >
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-sound-wave"></i></span>
                        </div>
                        <input class="form-control" placeholder="No of Albums Released" id="no_of_albums_released" type="text"
                           required >
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">Create</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#dob-input").datepicker({
            maxDate: "-1d",
            dateFormat: "yy-mm-dd" // Set desired date format
        });
    });
</script>
<script>
    const artist_id = $('#artist_id').val();
    const requestUrl = "{% url 'artists:register_artist' %}"
    const successUrl = "{% url 'artists:list_artist' %}"
    const loginUrl = ""
    $(document).ready(function () {
        $('#artistForm').submit(function (event) {
            event.preventDefault();
            const name = $('#artist_name').val();
            const dob = $('#dob-input').val();
            const gender = $('#gender').val();
            const address = $('#address').val();
            const first_year_release = $('#first_year_release').val();
            const no_of_albums_released = $('#no_of_albums_released').val();
            const data = {
                name: name,
                dob: dob,
                gender: gender,
                address: address,
                first_release_year: first_year_release,
                no_of_albums_released: no_of_albums_released
            };
            console.log(data)
            $.ajax({
                url: requestUrl,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    console.log(response)
                    if (response.Status === 'Success') {
                        window.location.href = successUrl;
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr, textStatus)
                    var errorResponse = JSON.parse(xhr.responseText);
                    var errorMessage = errorResponse.Message;
                    alert(errorMessage)
                }
            })
        })
    })
</script>
{% endblock js %}